body {
	background-color: #AD0000;
    color: white;
}

h1, h2, h3 {
    font-family: sans-serif;
    color: #F7A900;
}

h1{
    font-size: 36px;
    padding: 5px;
    padding-left: 75px;
    border-style: dotted;
    margin: 5px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
    background-image: url(star.jpg);
    background-position: left;
    background-repeat: no-repeat;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 18px;
}

li{
    text-decoration: underline;
}